## Step 1 - Data Engineering

The climate data for Hawaii is provided through two CSV files. Start by using Python and Pandas to inspect the content of these files and clean the data.

* Create a Jupyter Notebook file called `data_engineering.ipynb` and use this to complete all of your Data Engineering tasks.

* Use Pandas to read in the measurement and station CSV files as DataFrames.

* Inspect the data for NaNs and missing values. You must decide what to do with this data.

* Save your cleaned CSV files with the prefix `clean_`.

In [8]:
# Dependencies
import pandas as pd
from datetime import datetime

In [9]:
# Create a reference the CSV file
measurementFile = 'resources/hawaii_measurements.csv'
stationFile = 'resources/hawaii_stations.csv'

# Read the CSV into a Pandas DataFrame
measurementDF = pd.read_csv(measurementFile)
stationDF = pd.read_csv(stationFile)

In [10]:
# Change NaN rows in measurementDF to 0 
measurementDF = measurementDF.fillna(0)

# switch date column type to datetime
measurementDF['date'] =  pd.to_datetime(measurementDF['date'], format='%Y-%m-%d')

In [11]:
# Save out to clean csv
measurementDF.to_csv('resources/clean_hawaii_measurements.csv', index=False)
stationDF.to_csv('resources/clean_hawaii_stations.csv', index=False)

In [7]:
measurementDF.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06  0.00    73

In [13]:
measurementDF['date'].describe()

count                   19550
unique                   2792
top       2010-10-25 00:00:00
freq                        9
first     2010-01-01 00:00:00
last      2017-08-23 00:00:00
Name: date, dtype: object